<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= user.nombre %> <%= user.apellido %> | LogIn </title>
</head>

<body>


    <div class="container user" <%= color ? 'style=background-color:' + color : '' %></div>>
        <div class="wrapper-log wrapper-user">
            <header class="header-profile">
                <img class="logoblanco userlog" onclick="window.open('/')" src="/images/logo.png" alt="">
            </header>
            <h3 class="welcome">¡Bienvenido/a!</h3>
            <img class="avatar-img" src="/images/avatars/<%= user.avatar %>" width="150px" height="150px" alt="">
            <h4 class="username"><%= user.nombre %> <%= user.apellido %> </h4>

            <div class="color-selector">
                <form action="/users/color" method="POST">
                    <select class="selectpicker quantity-selector-detalles">
                        <option class="active">default</option>
                        <option class="option">celeste</option>
                        <option class="option">pink</option>
                        <option class="option">verde</option>
                        <option class="option">negro</option>
                    </select>
                    <br>
                    <input class="btn-color" type="submit" name="color" value="Elegir">
                    <h3 style="color: white"><input type="checkbox" name="recordar-color" id="recordar-color">Recordar
                        color</h3>
                    <button class="btn-color">Usar este color</button>
                    <button class="btn-color">Olvidar color</button>


                </form>
            </div>

        </div>
    </div>

    <!-- <form action="/users/profile" method="POST">
        
        <input type="text">
        <input type="text">
    </form> -->
</body>

</html>