<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Editar película</title>
</head>
<body>
    <%- include('partials/header') %> 

    <h1>Editar: <%= movie.title %>  </h1>

    <form action="/movies/edit/<%= movie.id %>?_method=PUT" method="POST">
    <div>
        <label for="">Título</label> <br>
        <input type="text" name="titulo" value="<%= movie.title %>">
    </div> <br> <br>
    <div>
        <label for="">Premios</label> <br>
        <input type="text" name="premios" value="<%= movie.awards %>">
    </div> <br><br>
    <div>
        <label for="">Duración</label><br>
        <input type="text" name="duracion" value="<%= movie.length %>">
    </div><br><br>
    <div>
        <label for="">Rating</label><br>
        <input type="text" name="rating" value="<%= movie.rating %>">
    </div><br><br>
    <div>
        <label for="">Feha de estreno</label><br>
        <input type="date" name="estreno">
    </div><br><br>
    <div>
        <label for="">Género</label><br>
        <select name="genero" >
            <% for(let genre of genres) { %>
                <% if (genre.id == movie.genre_id) { %>
                    <option value="<%= genre.id %>" selected><%= genre.name %> </option> 
                <% } else { %>
                    <option value="<%= genre.id %>"><%= genre.name %> </option> 
                <% } %>
            <% } %>
        </select>
    </div> <br> <br>

    <button type="submit">Editar</button>
    
</form>

</body>
</html>