<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= user.nombre %> <%= user.apellido %> | LogIn </title>
</head>
<body>
    
    <div class="container user">
        <div class="wrapper-log wrapper-user">
           <header class="header-profile">
                <img class="logoblanco userlog" onclick="window.open('/')" src="/images/logo.png" alt="">
           </header>
            <h3 class="welcome">¡Bienvenido/a!</h3>
            <img class="avatar-img" src="/images/avatars/<%= user.avatar %>" width="150px" height="150px" alt="">
            <h4 class="username"><%= user.nombre %> <%= user.apellido %>  </h4>
            
        </div>
    </div>
    
    <!-- <form action="/users/profile" method="POST">

        <input type="text">
        <input type="text">
    </form> -->
</body>
</html>